* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.main-wrapper {
    width: 88vw;
    border: 1px dashed #000;
    margin: auto;
}

#navBar {
    direction: rtl;
    display: flex;
    height: 100px;
    border-bottom: 1px dashed #000;
    justify-content: space-between;
}

.left-header,
.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-header {
    padding-left: 14px;
}

.left-header :hover {
    background-color: #000;
    color: #fff;
    transition: all 200ms ease;
}

.logo {
    border-left: 1px dashed #000;
    background-color: #f8f8f8;
    padding: 10px;
    align-items: center;
    display: flex;
    /* margin: auto; */
}

.logo img {
    width: 56px;
    padding: 12px;
}

.home-link {
    width: 220px;
    text-align: center;

}

.home-link a {
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    color: #000;

}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;

}

.boot-camp {
    flex-direction: row;
    margin-left: 25px;
}

.angle-down-icon {
    width: 17px;
    padding: 0 5px;
}

.pannel-link {
    text-decoration: none;
    color: #000;
    font-size: 17px;



}

.pannel-button {
    padding: 0 17px;
    margin: 10px;
    border: 1px dashed #b8b8b8;
    background-color: #fff;
}


.home-header {
    text-align: center;
    margin: 45px 184px;
}

.title-home-header {
    font-size: 5vw;
    line-height: 1.4;
}

.description-title {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 1.15rem;
}

.buttons-section {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.moshavere-button,
.moshahede-button {

    padding: 0px 13px;
    font-size: 30px;
    margin: 5px;
}

.moshavere-button {
    background-color: #fff;
    border: 1PX dashed #b8b8b8;

}

.moshavere-button:hover {
    background-color: #000;
    color: #fff;
    transition: all 200ms ease;
}

.moshahede-button {
    background-color: #000;
    color: #fff;
}

.courses {
    border-top: 1px dashed #000;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.courses div {
    display: flex;
    align-items: center;
    font-size: 19px;

}

.same-css-courses {
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    padding: 0.5vw;
}

.number-stu {
    background-color: #F989B1;
}

.hybrid img {
    background-color: #FCF474;
}

.part-time img {
    background-color: #BF92FF;
}

.project-oriented img {
    background-color: #FCF474;
}

.course-certificate img {
    background-color: #00FFBD;
}

.online-class img {
    background-color: #01B4F5;
}